@include mixin();
@include another_mixin();

#an_id_selector {
	-browser-specific: property;
	height: 10px;
	background-image: url('somewhere');
	@include mixin_inside_block();
}

/*comment*/

.a_class_selector {
	#nested_selector {
	
	}
	
	#nested_selector_two {
		/*nested comment*/
	}
}